.sideBarSection {
  @apply flex absolute left-0 w-[20%] h-screen bg-[#28243d] rounded-br-md  py-2;
}

.menu-item.active,
.menu-item:hover {
  font-weight: 600;
  color: #e6e6eb;
  background-image: linear-gradient(
    -90deg,
    rgb(144, 85, 253),
    rgb(144, 85, 253, 0.8),
    rgba(167, 94, 239, 0.479)
  );
}

.menu-item.active,
:hover > div {
  outline-color: #e6e6eb;
}
