/* .ProductSection {
    @apply flex absolute right-0 top-[50px] w-[80%] h-[90%] bg-[#28243d] rounded-br-md  p-2;

}

.ProductCard {
    box-shadow: 0px 0px 10px #1616168a;
} */


::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }